:root{
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-teal: hsl(180, 62%, 55%);
    --clr-primary-yellow: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);

    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-400: hsl(229, 6%, 66%);
    --clr-neutral-900: hsl(234, 12%, 34%);

    --fs-100: 0.75rem;
    --fs-400: 0.9375rem;
    --fs-500: 1.25rem;
    --fs-900: 2.5rem;

    --ff-sans: "Poppins", sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

html{
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  font-size: var(--fs-400);
  color: var(--clr-neutral-400);
}

h1, h2, h3{
  line-height: 1.2;
  color: var(--clr-neutral-900);
}

header{
  text-align: center;
  margin-block: 5rem;
}

header span{
  font-weight: var(--fw-light);
}
header p{
  margin-top: 2rem;
}

main{
  padding-block-end: 5rem;
}
.wrapper{
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 2rem;
}
.wrapper--narrow{
  max-width: 550px;
}

.layout-grid{
  --gap: 2rem;
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--gap);
}
@media (min-width: 800px){
  .layout-grid{
    grid-template-areas:
      '  . two   .   '
      'one two   four'
      'one three four'
      '  . three .   '
  } 
  .layout-grid > :nth-child(1){
    grid-area: one;
  }
  .layout-grid > :nth-child(2){
    grid-area: two;
  }
  .layout-grid > :nth-child(3){
    grid-area: three;
  }
  .layout-grid > :nth-child(4){
    grid-area: four;
  }
}

.card{
  padding: 2rem;
  box-shadow: 0 0.75rem 1.5rem -0.25rem rgb(0 50 100 / 0.15);
  border-radius: 0.5rem;
  border-top: 5px solid;
}
.card__title{
  font-size: var(--fs-400);
}
.card__img{
  margin-top: 1rem;
  margin-left: auto;
  width: 50px;
}
.card p{
  font-size: var(--fs-100);
  margin-block: 1rem 2rem;
}

.border-teal{
  border-color: var(--clr-primary-teal);
}
.border-red{
  border-color: var(--clr-primary-red);
}
.border-yellow{
  border-color: var(--clr-primary-yellow);
}
.border-blue{
  border-color: var(--clr-primary-blue);
}